@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;

}
.nav-bar {
    display: flex;
    flex-flow: row wrap;
    background-color: white;
    height: 100px;
    justify-content: center;
    align-items: center;
    
}
.logo {
  flex: 20%;
  text-align: left;
  margin-left: 10%;
}
.logo h1{
    font-family: 'Lobster', cursive;
    color: #180f4a;
    font-size: 34px;
}
.menu {
    flex: 70%;
    text-align: right;
    padding: 20px; 

}
.menu a{
 color:#180f4a;
 text-decoration: none;
 font-size: 20px;
 padding: 20px 16px;
}
.menu a:hover {
    color: #ff2978;
    border-top: 4px solid #180f4a;
   
}
#botao {
    background-color: #180f4a;
    padding: 10px 25px;
    color: white;
    border-radius: 5px ;
    margin-right: 10%;
    margin-left: 5%;
}
#botao:hover {
    border: none;
    background-color: #ff2978;
    font-size: 21px;
    transition: 0.3s all;
}
.header {
    display: flex;
    flex-flow: row wrap;
    height: 500px;
    justify-content:center;
    align-items: center;
    
}
.headline {
    flex:40%;
    margin-left: 10%;
}
.headline h2 {
    font-weight: 900;
    font-size: 20px;
    color: #180f4a;
    padding: 0;
    margin: 0;
}
.headline p{
    color: gray;
    text-align: left;
}
.contact-btn{
    display: inline-block;
    background-color: #ff2978;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none; 
}
.contact-btn:hover{
    background-color: #180f4a;
    font-size: 17px;
    transition: 0.3s all;
}
.img-headline{
    margin-right: 10%;
    flex: 40%;
    background-image: url(../IMG/19196970.jpg);
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 100%;
}
section {
    display: inline-block;
    margin-top: 80px;
    border: 1px solid black;
    margin-left: 5%;
    margin-right: 5%;  
    text-align: center;
    padding: 5%;
    width: 90%; 
}
section h2 {
    width: 100%;
    font-size: 40px;
    margin: 0;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    color: #180f4a;   
}
.servicos{
    display: inline-block;
    margin-top: 5%;
}
.card {
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    border: 1px solid #ff2978;
    border-radius: 10px;
    cursor: pointer;
    background-color:rgb(89, 89, 238);
    font-weight: bold;
}
.section-cards{
    background-color: #8578cf;
}



